<div class="component-body">   
    <ngb-carousel #carousel [interval]="7000" [pauseOnHover]="false" [pauseOnFocus]="false" [showNavigationArrows]="false">
        <ng-template ngbSlide *ngFor="let img of images; index as i">
            <div class="carousel-caption">
                <h3>My slide {{i + 1}} title</h3>
            </div>
            <div class="student-img">
                <img class='car-image'[src]="img" alt="My image {{i + 1}} description">
            </div>
        </ng-template>
    </ngb-carousel>

    <form class="search-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choisissez un cours</mat-label>
            <input type="text"
                placeholder="Cours"
                aria-label="Cours"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>