mat-card-content{
    position : relative;
    display: flex;
    justify-content: center;
}

.mobile  {
    display: none;
}


@media only screen and (max-width: 450px) {
    .web {
        display: none;
    }

    .mobile {
        display: contents;
    }

    .actionButton {
        text-align: center;
    }

    .image {
        height: 200px;
        width: 200px;
    }
}