<mat-card class="card" *ngIf="annonce">
    <mat-card-title-group>
      <mat-card-title>Localisation salle : {{annonce.salle}}</mat-card-title>
      <mat-card-subtitle>Plan du campus</mat-card-subtitle>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
        <img src='../../assets/plan-polytech/plan-Campus-SophiaTech-O300.PNG'>
      </mat-card-content>
    <mat-card-content>
      <span>Voici le plan du campus. La salle du cours se trouve dans le première étage du batiment indiqué.</span>
    </mat-card-content>
    <mat-card-actions class="actionButton">
      <button mat-button (click)="goBack()">Retour</button>
  </mat-card-actions>
</mat-card>