<mat-card class="card" *ngIf="annonce">
    <mat-card-title-group>
      <mat-card-title>{{annonce.user.prenom}} {{annonce.user.nom}}</mat-card-title>
      <mat-card-subtitle>Thème du cours: {{annonce.matiere}}</mat-card-subtitle>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{annonce.description}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="goToMapPage()">Emplacement du cours</button>
    </mat-card-actions>
</mat-card>
