@import "~@fortawesome/fontawesome-free/css/all.css";

.container {
    display: inline-flex;
    justify-content: space-between;
}

.leftCard {
    top : 5vh;
    left: 5vw;
    width: auto;
}

.rightCard {
    width: 300px;
    margin-left: 100px;
    top: 5vh;
}

.image {
    height: 200px;
}

.actionButton{
    margin-top: 30%;
}


@media only screen and (max-width: 400px) {
    .container {
        display: block;
        justify-content: center;
        overflow: hidden;
    }

    .leftCard {
        margin-left: -8%;
        min-width: 330px;
        max-width: 380px;
    }
    
    .rightCard {
        margin-top: 5%;
        margin-left: -10px;
        min-width: 380px;
        max-width: 380px;
    }

    .actionButton{
        margin-top: 1%;
    }
}
