.container {  
  height: 70vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  background-color: rgb(245, 245, 245);
  overflow: auto;

}

.title {
    text-align: center;
}

.cards {
  position: flex;
  display: inline-table;
  justify-content: space-between;
  width : 25vw;
  padding : 1vw;
  overflow-y: hidden;
}

