.container {  
  height: 70vh;
  width: 100%;
  //position: flex;
  //display: flex;
  margin-left: auto;
  margin-right: auto;
  display: flexbox;
  justify-content: center;
  margin-top: 2%;
  background-color: rgb(245, 245, 245);
  overflow-y: auto;
}

.title {
    text-align: center;
}

.cards {
  position: flex;
  display: inline-table;
  justify-content: space-between;
  width : 25vw;
  padding : 1vw;
  margin-left: 5%;
  overflow-y: hidden;
}

