.card {
    width: 400px;
    margin: 10px;
    margin-bottom: 0px; 
    border: 2px solid lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);   
}

.subtitle{
    position : relative;
    margin-top: -6%;
}

@media only screen and (max-width: 450px) {
    .card {
        width: 95%;
        margin-left: 0px;
        border: 2px solid lightgray;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);   
    }
  }